<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.davidbakhash.searchopenfinderwindows</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>576C1150-F950-447E-951D-D492B1BA0044</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76B7D687-CB51-48C8-A0AA-EEDFB5B4A0C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CE25EE4-6B86-443E-8037-D366EA781C42</key>
		<array/>
		<key>D05FD496-22DA-4472-9877-03C140E94ADD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F38291DB-5A00-41E6-9457-82E180BC4DCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F38291DB-5A00-41E6-9457-82E180BC4DCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CE25EE4-6B86-443E-8037-D366EA781C42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>576C1150-F950-447E-951D-D492B1BA0044</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Bakhash</string>
	<key>description</key>
	<string>Search a list your open finder windows: focus, close, and copy their folder paths</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Open Finder Windows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading windows...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/list-finder-windows.zsh</string>
				<key>subtext</key>
				<string>Finder</string>
				<key>title</key>
				<string>Search Open Windows</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{query}</string>
				<key>externalid</key>
				<string>finwin</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F38291DB-5A00-41E6-9457-82E180BC4DCF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D05FD496-22DA-4472-9877-03C140E94ADD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/focus-window-or-copy-path.zsh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6CE25EE4-6B86-443E-8037-D366EA781C42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/close-window.zsh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>576C1150-F950-447E-951D-D492B1BA0044</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>finwin</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>76B7D687-CB51-48C8-A0AA-EEDFB5B4A0C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Search Open Finder Windows — Alfred Workflow

#### View this workflow on the [**Alfred Gallery**](https://alfred.app/workflows/davidb/search-open-finder-windows/)

![Focus Window](icon.png)

Search a list of your open Finder windows, copy paths to their open directories, and close them.

![Focus Window](resources/media/preview.png)

### Usage

* **Default action:** Focus window
* **Command (⌘):** 
  * For **Finder browser** windows: Copy path to window target *(current directory)*
  * For **get info** windows: Copy path to item of information window

* **Option (⌥):** Close window

### Matching

#### You can search for:

* **Name** of window
* **Index** of window *(starts at **1** is frontmost window)*
* For **Finder browser** windows:
  * **Path** *(and **directories in path**)* to the window's target
  * **Contents** *(files and folders)* of the window's current directory
* For **Get Info** windows:
  * **Path** *(and **directories in path**)* of file or folder shown in window


### Icons

This workflow uses macOS' default folder icons *(with support for folder types and system appearance)* for most listed items *(files and folders)*. If an item has a **nonstandard icon** *(i.e. app icon, user-set custom icon)*, it will use that icon.

### Examples

#### Focus window - default action

![Focus Window](resources/media/focus-window.gif)

#### Copy directory path - command (⌘)

![Copy Directory Path](resources/media/copy-directory-path.gif)

#### Close window - option (⌥)

![Close Window](resources/media/close-window.gif)

### Acknowledgements

This workflow was inspired by the **[Browser Tabs](https://alfred.app/workflows/epilande/browser-tabs/)** workflow by [**Emmanuel Pilande**](https://github.com/epilande).

In order to retrieve the custom icons, decoding of macOS resource forks is required. I wouldn't have known how to do that without examining the [**fileicon**](https://github.com/mklement0/fileicon) shell script by [**mklement** ](https://github.com/mklement0). Thank you also to [**Vitor Galvão**](https://github.com/vitorgalvao?tab=repositories&amp;q=alfred&amp;type=&amp;language=&amp;sort=) from [**Alfred**](https://github.com/alfredapp) from for helping me refine this workflow.

Big thanks to these devs (even though they don't know me) for low-key teaching me how to make this workflow!

Enjoy!</string>
	<key>uidata</key>
	<dict>
		<key>576C1150-F950-447E-951D-D492B1BA0044</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>6CE25EE4-6B86-443E-8037-D366EA781C42</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>76B7D687-CB51-48C8-A0AA-EEDFB5B4A0C5</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>D05FD496-22DA-4472-9877-03C140E94ADD</key>
		<dict>
			<key>note</key>
			<string>Optional hotkey to launch the workflow</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>F38291DB-5A00-41E6-9457-82E180BC4DCF</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>finwin</string>
				<key>placeholder</key>
				<string>finwin</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword used to search open Finder windows (including when Finder is not the active app)

If no keyword is specified, then the keyword, then "finwin" will be used.</string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3.1</string>
	<key>webaddress</key>
	<string>https://github.com/dbacks2196</string>
</dict>
</plist>
